main {
    background-color: #F3F5F9;
}

#formulario {
    max-width: 400px;
}

#icone-info {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 1.1em;
}

#olho { 
    background: transparent;
    border: none;
    border-bottom: 2px solid #8F8F8F;
}

#icone-info, #olho {
    cursor: pointer;
    color: #17233B;
}

#icone-olho {
    width: 20px;
}

#visual-container {
    width: 100%;
    position: fixed;
    top: 0;
    height: 50vh;
    background-color: #17233B;
}

#modal-termos .modal-body {
    max-height: 300px;
    overflow: auto;
}
