html, body {
    background-color: #F1F1F7;
}

#cabecalho {
    background-color: #17233B;
}


#content {
    padding-bottom: 200px;
    padding: 0 0 250px 0;
}


#cabecalho-content {
    min-height: 65px;
    max-height: 65px;
}

#cabecalho-content * {
    height: 100%;
}

#titulo-content {
    color: #17233B;
  
}



