#foto-perfil {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


.list-group-item:hover {
    transform: none;
}

.nav-procura {
    right: 0;
    box-shadow: -250px 0px 0px 0px rgba(0,0,0,0.75);
}

/* Questões de visibilidade */
/*.dropdown, #input-search, #casa-desktop, #casa-desktop::before {
    display: none !important;
}*/

#casa-mobile, #casa-mobile::before {
    display: block !important;
}

@media screen and (min-width:992px) {

    .dropdown {
        display: flex !important;
        align-items: center;
    }

    #input-search, #casa-desktop, #casa-desktop::before  {
        display: block !important;
    }
    
    /*#casa-mobile, #casa-mobile::before, .fa-bars::before, .fa-bars, .nav-esquerda {
        display: none !important;
    }*/

    .fa-search, .fa-home {
        font-size: 1.2em;
    }

}
