html, body {
    background-color: #F7F8FB;
}


main {
    margin-top: 90px;
}

.list-group-item {
    border: none !important;
    border-bottom: 1px solid #17233B !important;
}

#icone-info {
    position: absolute;
    right: 10px;
}