#sidebar {
    width: 100%;
    position: fixed;
    left : 0;
    top: 0;
    min-height: 100vh;
    background: linear-gradient(#FFFFFF 99%,#17233B 1%);
    z-index: 9999;
    box-shadow: 0 5rem rgba(0,0,0,1);
}

#content {
    transition: 0.25s;
}

.link-wrapper, .link-wrapper-dropdown {
    transition: 0.5s;
}

.link-wrapper:hover .link {
    transition: 0.25s;
    color: #17233B;
    background-color: #F1F1F1;
    padding-left: 35px !important;
}

.link {
    color: #686980;
    font-weight: 600;
    transition: 0.5s;
}

.ativo {
    color: #00B9EE !important;
}

.content-without-sidebar {
    width: 100% !important;
    margin-left: 0 !important;
}

.fa-bars {
    cursor: pointer;
    z-index: 9999;
}

#relatorios {
    cursor: pointer;
}

#lista-relatorio {
    background-color: #F1F1F1;
}

#campo-pesquisar {
    width: 80%;
}

#botao-pesquisar {
    background-color: #FFFFFF !important;
    color: #17233B !important;
}

#link-pesquisar {
    cursor: pointer;
}

#titulo-content {
    position: relative;
    left: -42px;
}


@media (min-width: 991.98px) { 

    #content {
        width: calc(100% - 270px);
        margin-left: 270px;
    }

    #barra-mobile {
        display: none !important;
    }

    #sidebar {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        max-width: 270px;
    }

 }