#sidebar {
    background-color: white;
    max-width: 250px;;
    min-height: 100vh;
    position: fixed;
}

#foto-perfil {
    border-radius: 50%;
    width: 50px;;
}

#content {
    padding: 15px;
    background-color: #EFF3F7;
    width: calc(100% - 250px);
    margin-left: 250px;
}

.element-sidebar {
    background-color: white;

    position: relative;
    transition: 3s;

    font-weight: 500;
    transition: 0.5s;
}

.element-sidebar:hover {
    background-color: #EFF3F7;
}

.element-sidebar i {
    transition: 0.5s;
}

.element-sidebar:hover i {
    transform: rotate(360deg);
}

.element-sidebar-into {

    position: relative;
    transition: 3s;

    font-weight: 500;

}

#relatorios {
    cursor: pointer;
}

@media screen and (max-width:992px) {

    #sidebar {
        position: fixed;
        z-index: 9999;
    }

}