a:hover {
    text-decoration: none;
    color: #17233B;
}

#logo, a, h1, h2, h3, h4, h5, h6 {
    color: #17233B !important;
}

#logo {
    font-weight: bold;
}

.btn {
    background-color: #17233B;
    border: 2px solid  #17233B;
    transition: 0.20s;
    box-shadow: none !important;
    color: #FFFFFF !important;
    cursor: pointer;
    border-radius: 0;
}

.btn:hover, .btn:active {
    border-color: #17233B !important;
    background-color: #17233B;
}

.form-control, .form-control:hover {
    box-shadow: none !important;
    border: none;
    border-bottom: 2px solid #8F8F8F;
    border-radius: 0;
}

.form-control:focus {
    border: none;
    border-bottom: 2px solid #17233B;
}

.dropdown-item:active {
	background-color: white !important;
}
